body {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    background-image: url("silverware.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

h1, h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

h2 {
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
}

a {
    color: #A4A400;
}

blockquote {
    background-color: #FFFFA8;
    font-style: italic;
}

.recipe-info {
    list-style-type: none;
    padding-left: 0;
}

pre {
    font-family: monospace;
}

abbr {
    text-decoration: underline;
    cursor: help;
}